[Unit]
Description=PDF Sign Backend Server (Express)
After=network.target

[Service]
# 请根据实际情况修改执行用户
User=wwf
# 请修改为项目的实际安装路径
WorkingDirectory=/mnt/raid/pdfsign/server
# 启动命令
ExecStart=/usr/bin/npm run dev
# 失败自动重启
Restart=on-failure
# 环境变量 (可选)
Environment=NODE_ENV=production PORT=3001

[Install]
WantedBy=multi-user.target
